{% extends "base.html" %}
{% load static %}
{% block title %}Official Homepage of HiScript{%endblock title %}

    
{% block content %}

    

    <div class="container-fluid">
        

        <!--end of navbar section-->

        <div class="row" id="row2" >
            <div class="col-md-6" style="margin-bottom:50px;">
                <div class="wrapper">
                    <h1 class="up-text">You Are So </h1>
                    <h1 class="middle-text"> Unique, So</h1>
                    <h1 class="final-text"> We Are</h1>

                    <p class="parag">
                        HiScript is an all-in-one Technology platform for business.</p>
                    <p class="parag">   
                        We work together to code, create and produce work that we</p>
                    <p class="parag">    
                        are proud of for the folks that we believe in. We are </p>
                    <p class="parag">    
                        available for hire in Ful-stack programming </p>
                    <p class="parag">     
                        for variety of websites.
                    </p>
                    <button type="button" class="btn btn-primary" id="btn-d" ><a href="{% url 'contact' %}" style="color:white; 
                    text-decoration:none;">Contact Us <img src="{% static 'pictures/arrow-right-up.png' %}" alt="button"></a></button>
                </div>
                
            </div>

            <div class="col-md-6">
                <img src="{% static 'pictures/Group man 45.png' %}" alt="" class="groupman" >
                <img src="{% static 'pictures/Rectangle 900.png' %}" alt="" class="rect">
                <img src="{% static 'pictures/Group zero.png' %}" alt="" class="zero">
                <img src="{% static 'pictures/plus i.png' %}" alt="" class="plus">
                <img src="{% static 'pictures/Group zero.png' %}" alt="" class="zero1">
                <img src="{% static 'pictures/plus i.png' %}" alt="" class="plus1">
            </div>
        </div>    


        <!--End of first-section-->


       
    </div>
    <!--end of first section-->


    <!--<div class="container-fluid">
        <div class="row" id="bow">
            <div class="col-md-6">
                <h1 class="cut">
                    Why You Should Choose
                </h1>
                <h1 class="cut1"> HiScript?</h1>
            </div>

            <div class="col-md-6">
                <p class="parah2">
                    Watch this one minute video so you understand why you should <br>
                     
                </p>
                <p class="parah3">use our services!</p>
            </div>
        </div>
    </div>
    <!--end of second section-->

    <!--<div class="container-fluid">
        <div class="row" id="low">
            <div class="col-md-12">
                <center> <video src="videos/Boosted.mp4' %}" Controls   ></video></center>
                
            </div>
        </div>
    </div>
    <!--end of video section-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <main class="main1">
                    <img src="{% static 'pictures/Group angle.png' %}" alt="" id="first">
                    <div class="words">
                        <h1>The Service We Provide</h1>
                        <center> <h1>For You</h1></center>
                        

                    </div>
                    <img src="{% static 'pictures/Icon7.png' %}" alt="" id="second">
                </main>

                
                
            </div>
        </div>
    </div>
    <!--end of service section-->

    <div class="container-fluid">
        <div class="row" id="apps">
            <div class="col-md-4">
                <div class="image1">
                    <img src="{% static 'pictures/Icon4.png' %}" alt="">
                </div>

                <div class="discrip">
                    <h3>Web Development</h3>
                    <p>Create a platform with the best and </p>
                    <h5>coolest quality from us.</h5>
                </div>

                
            </div>

            <div class="col-md-4">
                <div class="image1">
                    <img src="{% static 'pictures/Icon6.png' %}" alt="">
                </div>

                <div class="discrip" id="yo">
                    <h3 style="margin-left: 70px;">UI/UX Design</h3>
                    <p>We provide UI/UX Design services, and </p>
                    <h5 style="">of course with the best quality</h5>
                </div>

                
            </div>

            

            <div class="col-md-4">
                <div class="image1">
                    <img src="{% static 'pictures/Icon5.png' %}" alt="">
                </div>

                <div class="discrip">
                    <h3>App Developement</h3>
                    <p>Create a platform with the best and </p>
                    <h5>coolest quality from us.</h5>
                </div>

                
            </div>

            
        </div>
    </div>
    <!--End of Services section-->

    <div class="container-fluid">
        <div class="row" id="portfolos">
            <div class="col-md-12">
                <div class="fsec" >
                    <h1>Our Awesome Portofolio</h1>
                    <img src="{% static 'pictures/doval.png' %}" alt="">
                </div>

            <center>

                <div class="carousel">
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel"
                        style="margin-top: 10px;">
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
                          
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="{% static 'pictures/SOK.png' %}"  width="600" height="440">
                              
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'pictures/JOK (2).png' %}" width="600" height="440">
                              
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'pictures/JOK (3).png' %}"  width="600" height="440">
                              
                            </div>

                            <div class="carousel-item">
                                <img src="{% static 'pictures/JOK (4).png' %}"  width="600" height="440">
                              
                            </div>

                            <div class="carousel-item">
                                <img src="{% static 'pictures/JOK (5).png' %}"  width="600" height="440">
                              
                            </div>

                            <div class="carousel-item">
                                <img src="{% static 'pictures/JOK (6).png' %}"  width="600" height="440">
                              
                            </div>

                            <div class="carousel-item">
                                <img src="{% static 'pictures/DOK (2).png' %}"  width="600" height="440">
                              
                            </div>

                            <div class="carousel-item">
                                <img src="{% static 'pictures/DOK (5).png' %}"  width="600" height="440">
                              
                            </div>
                          </div>
                          
                        </div>
                </div>

                
                    <button type="button" class="btn btn-primary" style="margin-top: -100px;" >
                        <a href="https://github.com/Hi-Script" style="color: white; text-decoration: none;">Check Our Portofolio on GitHub</a>
                    </button>
            
        

            </center>    
            </div>
        </div>
    </div>
    <!--End of Carousel Section-->

    <div class="container-fluid">
        <div class="row" id="contact-us">
            <div class="col-8">
                <div class="contactUs">
                    <h1>Contact us for the service<br> 
                        you want to use</h1>
                </div>
            </div>

            <div class="col-4" id="buttons">
                <div class="imag">
                    <img src="{% static 'pictures/plus i.png' %}" alt="">
                </div>
                <button type="button" class="btn btn-primary"><a href="{% url 'contact' %}">Contact us<a></button>
            </div>
        </div>
    </div>
<hr>

    <div class="container" style="margin-top: 100px; ">
        <div class="row" id="review">
            <div class="col-md-12 text-center">
                <div class="  reviews text-center">
                    <h1 style="color:white;">Reviews From Our Clients</h1>
                <center>
                    <div class=" col-10 border-rounded  text-center" style="width:350px;padding:10px">
                    
                        {% for review in reviews  %}<br>
                        <hr style="color:white;">
                            <article class="blog-post">

                                <p style="color:white; font-size: 12px;"> {{ review.body }}</p>

                                <div class="blog_profile">
                                    {% if review.reviewer_pic %}
                                    <img class="rounded-circle" src="{{ review.reviewer_pic.url }}" width="100" height="100"  style="margin-right:20px;">
                                    
                                    {% endif %}
                                    <br><br>
                                    <h4 class="blog-post-title" style="color:white;" >{{review.name }}</h4>
                                    {% if review.job %}

                                    <h6 class="blog-post-title" style="color:white;" >{{review.job }}</h6>
                                    
                                    
                                    {% endif %}
                                    
                                </div>
                                

                                
                                
                                
                                
                                
                            </article>
                            <hr>

                        {% endfor %}

                    </div></center>    
                </div>
                
            

                

            </div>
    
            <div class="btnc text-center">
                <button type="button" class="btn btn-primary" style="margin-top: 50px;" >
                    <a href="{% url 'review' %}" style="color: white; text-decoration: none;">Give us review</a>
                </button>
            </div>
        
        </div>
    
    
    </div>

    <!--end of review section-->
<hr>
<hr style="color:white;">

    <center><h1 style="color: white;" >Blog Section</h1></center>   
    <br>
    <div class="row g-4" style="margin-left: 20px; margin-right:20px;">
    
        <div class="col-md-8  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" 
         >
            {% for blog in blogpost  %}<br>
               
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                    <div class="col-md-8">
                    
                        <div class="card shadow-sm">
                            {% if blog.blog_pic %}

                            <center><img src="{{ blog.blog_pic.url }}" width="295" height="200" class="blogpic"></center>
                            
                            {% endif %}
                            
                            <div class="card-body">
                                 
                                <h2 class="blog-post-title" style="font-family: arial; font-size: 12px; color:blue;" ><b>{{blog.category }}</b></h2>
                                <p class="blog-post-meta"><span style="font-size:25px; color: red"><b>{{ blog.title}} </b></p>
            
                                <p class="card-text fs-7">{{ blog.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">  <a class="art" href="{% url 'blogdetail' blog.id %}" style=" text-decoration:none;">Read More</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://twitter.com/HiScript_?t=R89XnWuZ8zY62L5dyeMdFg&s=09" style=" text-decoration:none;">Read on Twitter</a></button>
                                    </div>
                                    <small class="text-muted" style="font-size: 8px;"> {{ blog.created | timesince}} ago</small>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>    
                <hr>

            {% endfor %}

            
        

            
        </div>
        

        <div class="col-md-4" id="stick">
        <div class="position-sticky" style="top: 2rem;">

            <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About HiScript Blog</h4>
            <p class="article">We blog and post value contents, news, opportunities in Tech space. Follow us on 
            all social media platform to enjoy more of our valuable contents.</p>
            </div>

            <div class="p-4" id="arc">
                <h4 class="fst-italic">Our Company</h4>
                <ol class="list-unstyled mb-0 text-white">
                    <li><a href="{% url 'about' %}" style="color:white; text-decoration:none;">Who we are</a></li>
                    <li><a href="{% url 'about' %}" style="color:white; text-decoration:none;">What we value</a></li>
                    <li><a href="{% url 'review' %}" style="color:white; text-decoration:none;">Give us review</a></li>
                    <li><a href="{% url 'about' %}" style="color:white; text-decoration:none;">About Us</a></li>
                    
                </ol>
            </div>

            <div class="p-4" id="else">
                <h4 class="fst-italic ">Follow Us</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/Hi-Script" style="color:white; text-decoration:none;">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/taoheed-adeoye-0a66b5239" style="color:white; text-decoration:none;">linkedin</a></li>
                    <li><a href="https://wa.link/xcfhoj" style="color:white; text-decoration:none;">whatsapp</a></li>
                    <li><a href="https://twitter.com/HiScript_?t=R89XnWuZ8zY62L5dyeMdFg&s=09" style="color:white; text-decoration:none;">Twitter</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100087451022468" style="color:white; text-decoration:none;">Facebook</a></li>
                </ol>
        </div>   


                
        </div> 

        

        
      
    </div>

   
    
    
    

    <div class="footer">
        <center><footer><p class="mt-5 mb-3 text-muted">HiScript&copy; 2022–2023</p></footer>
        <div class="text-center" style="align-items: center;">
            <a href="https://www.facebook.com/profile.php?id=100087451022468" target="_blank"><img src="{% static 'pictures/facebook.png' %}" height="20" width="20"></a>
            <a href="https://wa.link/xcfhoj" target="_blank"><img src="{% static 'pictures/whatsapp.png' %}" height="20" width="20"></a>
            <a href="https://twitter.com/HiScript_?t=R89XnWuZ8zY62L5dyeMdFg&s=09" target="_blank"><img src="{% static 'pictures/twitter.png' %}" height="20" width="20"></a>
            <a href="https://www.linkedin.com/in/taoheed-adeoye-0a66b5239" target="_blank"><img src="{% static 'pictures/linkedin.png' %}" height="20" width="20"></a>
        </div>
        </center>
        <br>
        <br>
    
    </div>
    



{% endblock content %}
        


    

    
    

    
