:root {
    --darken-color: #19191B;
    --white-color:  #FFFFFF;
    --blue-color:  #5454D4;
    --a-whitel-color: rgba(255, 255, 255, 0.7);



}

*,
*::after,
*::before {
    box-sizing: border-box;
}

nav.scrolled{
    background-color: none;
    top: 0;
    box-shadow: 0 16px 14px -8px rgba(66, 46, 46, 0.3);
    border-radius: 0 8px;
    padding: 52px;
    height: 90px;
    transform: translateY(-40px);
    
    
    
}

.btn btn-primary {
    background: var(--blue-color);
    border: none;

}



